
* {
	font-family: 'Catamaran', sans-serif;
}

#notMobile{
	position: relative;
	width:100%;
	top: 0;
	padding: 3px;
	color: #f7ff00;
	background-color: #b20a2c;
}

#content {
	text-align: center;
}

#nav h2 {
	color: white;
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

body {
	height: 100%;
	text-align: center;
	background: #56ab2f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#name {
	border: none;
	margin: 30px 0px;
}

#ageGroupDiv {
	margin-top: 50px;
}

#submitButton {
	display: inline-block;
	color: black;
}

.genderBlock {
	color: black;
	margin: 0px 10px;
}

.selectedGender {
	border: 2px solid #56ab2f;
}

.ageGroupBlock {
	margin: 0px 0px;
	color: black;
}

.selectedAge {
	border: 2px solid #56ab2f;
}

#headerWithIcon {

}

body{

}

#loadData{
	margin-top: 90px;
	padding-bottom: 0px;
	margin-bottom:-200px;
}

#nav h2 {
	font-weight: 900;
	padding-top: 100px;
    margin-bottom: 0px;
	font-size: 100px;
	letter-spacing: 5px;
	text-shadow: 2px 2px 4px #000000;
}

#nav h3 {
    color: white;
    margin-top: 0px;
    padding-bottom: 70px;
	font-weight: 600;
	font-size: 35px;
	letter-spacing: 1px;
	text-shadow: 2px 2px 4px #000000;
}

#userInputPageForm{
	display: inline-block;
	width: 735px;
	border-radius: 3em;
	background-color: white;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}

#userInputPageForm h1{
	font-size: 4.5em;
	padding: 40px 0 35px 0;
	color: #56ab2f;
	font-weight: 700;
}

#smallHeader h2{
    padding: 0px;
    margin-bottom: -15px;
    font-size: 2em;
	color: #56ab2f;
	font-weight: 400;
}

#smallHeader{
    margin-top: -25px;
    margin-bottom: 0px;
}

#name label{
	font-weight: 300;
	font-size: 4em;
}

#userName {
	width: 280px;
	font-size: 3.5em;
	font-weight: 200;
	text-align: center;
	border: 2px solid none;
}

.genderBlock {
	margin: 34px -2px 5px -2px;
	display: inline-block;
	color: grey;
	font-weight: 200;
	font-size: 3em;
	text-align: center;
	width: 250px;
	padding: 5px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: white;
	border: 2px solid grey;
	transition: background-color 0.3s ease-in-out;
}

.genderBlock p{
	margin: 0;
}

.genderBlock:nth-of-type(1){
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
}

.genderBlock:nth-of-type(2){
	border-left: 0px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.selectedGender {
	color:white;
	background-color: #56ab2f;
	border: 2px solid #56ab2f;
}

.ageGroupBlock{
	display: inline-block;
	margin: 0px -2px 15px -2px;
	color: grey;
	text-align: center;
	width: 170px;
	padding:5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	border: 2px solid grey;
	transition: background-color 0.3s ease-in-out;
}

.ageGroupBlock:nth-of-type(1){
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
}

.ageGroupBlock:nth-of-type(2){
	border-right: 0px;
	border-left: 0px;
	width: 160px;
}

.ageGroupBlock:nth-of-type(3){
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.ageGroupBlock h4{
	font-size: 2.8em;
	margin: 0;
	margin-top: 5px;
	font-weight: 200;
}

.ageGroupBlock h5{
	margin: 0;
	margin-bottom: 5px;
	font-size: 2em;
	font-weight: 100;
}

.selectedAge{
	color:white;
	background-color: #56ab2f;
	border: 2px solid #56ab2f;
}

.underLine{
	margin-left: 20px;
	display: inline-block;
	border-bottom: 2px solid black;
}

#nextStepsButtomForm{
	margin-top: 60px;
	width:100%;
	border-bottom-left-radius: 3em;
	border-bottom-right-radius: 3em;
}

.nextButtomsGroup {
	margin: -1px;
	border: 0px;
	padding:0px;
	display: inline-block;
	background-color: #fc4a1a;
	color: black;
	height: 210px;
}

.nextButtomsGroup:nth-of-type(1){
	width: 50%;
	border-bottom-left-radius: 3em;
}

.nextButtomsGroup:nth-of-type(2){
	width: 50%;
	border-bottom-right-radius: 3em;
}

#nextStepsButtomForm h3{
	padding: 0px;
	margin:0px;
	font-size: 3.0em;
	color:white;
	font-weight: 400;
}

#nextStepsButtomForm img{
	margin: 20px;
	height: 90px;
}

#nextStepsButtomForm span{
	padding-top: -15px;
	font-weight: 100;
	font-size: 0.7em;
}

.indexWhiteSpaceButtom{
	height:100px;
}

#optionalButtons {
	width: 100%;
	position: fixed;
	bottom: 0px;
}

.optional {
	display: inline-block;
	margin: -1px;
	border: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	display: inline-block;
	background-color: #16222A;
	color: black;
	font-size: 38px;
	font-weight: 300;
	color: white;
	width: 50%;
}

#fbLoginDiv img{
	width: 430px;
	height: 200px;
}

#userLoginForm{
	margin-top: 60px;
	display: inline-block;
	width: 735px;
	height: 300px;
	border-radius: 3em;
	background-color: white;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#userLoginForm h1{
	font-size: 4em;
	padding: 20px 0 10px 0;
	color: #56ab2f;
	font-weight: 500;
	color: #3A6073;
	margin-bottom: 0;
}

#firebaseui-auth-content{
	width: 600px;
}

.firebaseui-card-content{
	width: 100%;
	padding: 0;
}

.firebaseui-idp-button{
	max-width: 100%;
}

.firebaseui-idp-text{
	font-size: 25px;
}

.firebaseui-idp-icon{
	height: 30px;
	width: 30px;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {

	#notMobile{
		display: none;
	}
}
