.person{
    display: inline-block;
    position: relative;
    justify-content:flex-start;
    align-items: flex-start;
    margin: -3px;
    margin-top: -14px;
}

.person img{
    width: 370px;
    margin: 0;
}

.person p{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 35px;
    font-size: 30px;
    line-height: 30.5px;
    color: white;
}

#content p{
  font-size: 30px;
  font-weight: 600;
}

#content b{
    font-size: 30px;
    font-weight: 200;
}

#content{
    text-align: center;
    width: 100%;
}

#bot{
    background-color: rgb(15, 161, 15);
    width: 100%;
    padding-top: 35px;
    height: 60px;
}

#lastPageBtn img{
    margin-left: 50px;
    transform: translateY(10px);
    width: 70px;
    height: 70px;
    opacity: 0.9;
}

#ueImg{
    height: 350px;
    margin: 0;
    padding:30px;
}
