#content {
	text-align: center;
}

#nav p {
    display: inline-block;
    color: white;
    font-weight: 900;
    padding: 30px;
    font-size: 80px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px #000000;
    

}

body {
	height: 100%;
	text-align: center;
	background: #56ab2f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#name {
	border: none;
	margin: 30px 0px;
}

#ageGroupDiv {
	margin-top: 50px;
}

#submitButton {
	display: inline-block;
	color: black;
}

.genderBlock {
	color: black;
	margin: 0px 10px;
}

.selectedGender {
	border: 2px solid #56ab2f;
}

.ageGroupBlock {
	margin: 0px 0px;
	color: black;
}

.selectedAge {
	border: 2px solid #56ab2f;
}

#headerWithIcon {

}

	body{

	}
      
  #loadDiv{
    margin-top: 40px;
    width: 100%;
    clear: both;
    display: table;
  }

  #loadDiv div{
      height: 10px;
      background-color: #56ab2f;
  }

  #loadDiv h2{
    font-size: 4em;
    color: #56ab2f;
    font-weight: 300;
  }

  #loadDiv img{
      float: left;
      width: 33.33%;
      padding: 15px;
  }

	#nav h2 {
		font-weight: 900;
		padding-top: 100px;
        margin-bottom: 0px;
		font-size: 100px;
		letter-spacing: 5px;
		text-shadow: 2px 2px 4px #000000;
	}

    #nav h3 {
        color: white;
        margin-top: 0px;
        padding-bottom: 70px;
		font-weight: 600;
		font-size: 35px;
		letter-spacing: 1px;
		text-shadow: 2px 2px 4px #000000;
	}

	#userInputPageForm{
		display: inline-block;
		width: 735px;
		border-radius: 3em;
		background-color: white;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
        height: 1100px;
        
	}

	#userInputPageForm h1{
        font-size: 5em;
        height: 600px;
		padding: 40px 0 10px 0;
		color: #56ab2f;
		font-weight: 800;
	}
    
    #smallHeader h2{
        padding: 0px;
        margin-bottom: -15px;
        font-size: 2em;
		color: #56ab2f;
		font-weight: 800;
	}

    #smallHeader{
        margin-top: -25px;
        margin-bottom: 0px;
	}

	#name label{
		font-weight: 300;
        font-size: 4em;
        color: #56ab2f;
	}

	#userName {
		width: 280px;
		font-size: 3.5em;
		font-weight: 200;
		text-align: center;
		border: 2px solid none;

	}

	.genderBlock {
		margin: 0px -2px 5px -2px;
		display: inline-block;
		color: grey;
		font-weight: 200;
		font-size: 4em;
		text-align: center;
		width: 250px;
		padding-left: 25px;
		padding-right: 25px;
		background-color: white;
		border: 2px solid grey;
		transition: background-color 0.3s ease-in-out;
	}
	.genderBlock:nth-of-type(1){
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
	}
	.genderBlock:nth-of-type(2){
		border-left: 0px;
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;
	}
	.selectedGender {
		color:white;
		background-color: #56ab2f;
		border: 2px solid #56ab2f;
	}
	.ageGroupBlock{
		display: inline-block;
		margin: 0px -2px 15px -2px;
		color: grey;
		text-align: center;
		width: 170px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: white;
		border: 2px solid grey;
		transition: background-color 0.3s ease-in-out;
	}
	.ageGroupBlock:nth-of-type(1){
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
	}
	.ageGroupBlock:nth-of-type(2){
		border-right: 0px;
		border-left: 0px;
		width: 160px;
	}
	.ageGroupBlock:nth-of-type(3){
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;
	}
	.ageGroupBlock h4{
		font-size: 3em;
		font-weight: 200;
	}
	.ageGroupBlock h5{
		font-size: 2em;
		font-weight: 100;
	}
	.selectedAge{
		color:white;
		background-color: #56ab2f;
		border: 2px solid #56ab2f;
	}

	.underLine{
		margin-left: 20px;
		display: inline-block;
		border-bottom: 2px solid black;
	}
	#nextStepsButtomForm{
		margin-top: 60px;
		width:100%;
		border-bottom-left-radius: 3em;
		border-bottom-right-radius: 3em;
	}
	.nextButtomsGroup {
		margin: -1px;
		border: 0px;
		padding:0px;
		display: inline-block;
		background-color: #fc4a1a;
		color: black;
		height: 210px;
	}
	.nextButtomsGroup:nth-of-type(1){
		width: 50%;
		border-bottom-left-radius: 3em;

	}
	.nextButtomsGroup:nth-of-type(2){
		width: 50%;
		border-bottom-right-radius: 3em;
	}
	#nextStepsButtomForm h3{
		padding: 0px;
		margin:0px;
		font-size: 3.5em;
		color:white;
	}
	#nextStepsButtomForm img{
		margin: 20px;
		height: 90px;
	}
	#nextStepsButtomForm span{
		padding-top: -15px;
		font-weight: 100;
		font-size: 0.7em;

	}
	.indexWhiteSpaceButtom{
		height:300px;
	}

	#optionalButtons {
		height: 50px;
	}

	.optional {
		display: inline-block;
		margin: -1px;
		border: 0px;
		padding-top: 50px;
		padding-bottom: 50px;
		margin-top: 320px;
		display: inline-block;
		background-color: #fc4a1a;
		color: black;
		height: 150px;
		font-size: 50px;
		color: white;
	}

	.optional:visited, .optional:active, .optional:link {
		color: white;
		text-decoration: none;
	}

	.optional:nth-of-type(1) {
		width: 50%;
		/*border-bottom-left-radius: 3em;*/
	}

	.optional:nth-of-type(2) {
		width: 50%;
		/*border-bottom-right-radius: 3em;*/
	}
    #fbLoginDiv img{
      width: 430px;
      height: 200px;
    }


@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {

	#notMobile{
		display: none;
	}
}
 