*{
	font-family: 'Catamaran', sans-serif;
  margin: 0;
}
body {

}
#notMobile{
	position: relative;
	width:
	top: 0;
	padding: 3px;
	color: #f7ff00;
	background-color: #b20a2c;
}

#tipstitle{
  font-size: 40px;
  color: rgb(87, 171, 47);
  margin: 0;
} 

#dis{
  font-size: 30px;
  margin: 0;
}

#main{
	height: 100%;
	text-align: center;
	margin: 0;
  background-color: white;
}

#info{

  background-color: #eeeeee;
  margin-top: 150px;
  padding: 30px;
}

#info p{
}

#data{
}

#username{
}

#gender{
}

#grains, #dairy, #meat, #veggies_and_fruits, #other{
}


  #grains, #dairy, #meat, #veggies_and_fruits, #other{
    width: 820px;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
		margin-right: auto;
		text-align: left;
  }

  .label{
    text-align: left;
    padding-top: 5px;
		padding-bottom: 1px;
    margin: 0;
    font-size: 50px;
    font-weight: 200;
  }
	.forRow{
		display: block;
		width: 100%;
		float: left;
	}
  .foodImg {
    padding: 5px;
		padding-top: 15px;
    display: inline-block;
    max-width: 150px;
    height: 100px;
    border: 0px solid none;
  }
  .foodBlock{
		margin: 5px;
    text-align: center;
    display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
    width: 150px;
    height: 195px;
    border: 0px solid none;
		background: #f7b733;
	transition: background-color 0.3s ease-in-out;


  }
  .foodBlock h6{
		width: 150px;
		height:60px;
		display: inline-flex;
    line-height: 30px;
    font-size: 30px;
    font-weight: 100;
		justify-content: center;
		align-items:center;
		color: white;
  }
	.selectedFood{
		background-color: darkgreen;
	}

	#title{
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		top: 0px;
		width: 100%;
	  color: white;
	  text-align: center;
	  background: #56ab2f;  /* fallback for old browsers */
	  background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
	  background: linear-gradient(to left, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

  #title p {
		display: inline-block;
    color: white;
    font-weight: 900;
		padding: 30px;
		font-size: 70px;
		letter-spacing: 3px;
		text-shadow: 2px 2px 4px #000000;
	}
	#lastPageBtn img{
		margin: 35px;
		margin-left: 50px;
		width: 70px;
		opacity: 0.9;
	}
	#nextPageBtn img{
		margin: 35px;
		margin-right: 50px;
		width: 70px;
		opacity: 0;
	}

  #info p{
		text-align: center;
    font-weight: 400;
    font-size: 35px;
  }
  .userInfo{
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
  }
  #bot{
      background-color: rgb(15, 161, 15);
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 20px;
      padding-bottom: 35px;
  }

  #bot p{
      text-align: center;
      font-weight: 100;
      font-size: 40px;
      color: white;
  }

  #cost{
      padding-left: 10px;
      font-weight: 500;
      font-size: 55px;
  }
	#whiteSpace{
		display: flex;
		width: 100%;
		background-color: white;
		height: 160px;
	}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
	#notMobile{
		display: none;
	}
}
