.selectedFood {
  opacity: 0.5;
}

.foodImg {
  width: 50px;
  height: 50px;
}
#title{
    background-color: rgb(15, 161, 15);
    height: 40px;
}

#title > p{
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

#info{
    background-color: rgb(16, 241, 16);
    height: 60px;
    

}

#info > p{
    margin-top: 0%;
    margin-bottom: 0%;
    word-spacing: 30px;
    padding-top: 10px; 
    text-align: center;
}

#data{
    text-align: center;
}

#username{
    padding-right: 16px; 
}

#gender{
    padding-right: 2px; 
}

#grains, #dairy, #meat, #veggies_and_fruits, #other{
   margin-top: 10px;
}

@media screen and (min-width: 900px){
    #grains, #dairy, #meat, #veggies_and_fruits, #other{
        margin-top: 10px;
        padding-left: 20%;
     }
}

#grains > p, #dairy > p, #meat > p, #veggies_and_fruits > p, #other > p{
    padding-left: 20px;
    margin: 0%;
}

.img{
    padding-left: 20px;
}


#bot{
    background-color: rgb(15, 161, 15);
    height: 40px;
    width: 100%; 
    position: relative;
    bottom: 0;
    left: 0;
    
}

#bot > p{
    /* padding-left: 25%; */
    text-align: center;
    font-size: 15px;
    color: white;
}

#cost{
    padding-left: 5px;
}


