*{
	font-family: 'Catamaran', sans-serif;
  margin: 0;
}
body {

}


#main{

}



#title{
  color: white;
  padding-bottom: 10px;
  text-align: center;
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#info{
  background-color: #eeeeee;
  margin-top: -10px;
  padding: 30px;
}

#info p{
}

#data{
}

#username{
}

#gender{
}

#grains, #dairy, #meat, #veggies_and_fruits, #other{
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
  #grains, #dairy, #meat, #veggies_and_fruits, #other{
    width: 820px;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
		margin-right: auto;
		text-align: left;
  }

  .label{
    text-align: left;
    padding-top: 5px;
		padding-bottom: 1px;
    margin: 0;
    font-size: 50px;
    font-weight: 200;
  }
	.forRow{
		display: block;
		width: 100%;
		float: left;
	}
  .foodImg {
    padding: 5px;
		padding-top: 15px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 0px solid none;
  }
  .foodBlock{
		margin: 5px;
    text-align: center;
    display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
    width: 150px;
    height: 195px;
    border: 0px solid none;
		background: #f7b733;

  }
  .foodBlock h6{
		width: 150px;
		height:60px;
		display: inline-flex;
    line-height: 30px;
    font-size: 30px;
    font-weight: 100;
		justify-content: center;
		align-items:center;
		color: white;
  }
	.selectedFood{
		background-color: darkgreen;
	}

  #title p {
    color: white;
    font-weight: 900;
		padding: 30px;
    padding-bottom: 10px;
		font-size: 70px;
		letter-spacing: 5px;
		text-shadow: 2px 2px 4px #000000;
	}

  #info p{
		text-align: center;
    font-weight: 400;
    font-size: 35px;
  }
  .userInfo{
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
  }
  #bot{
      background-color: rgb(15, 161, 15);
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 20px;
      padding-bottom: 35px;
  }

  #bot p{
      text-align: center;
      font-weight: 100;
      font-size: 40px;
      color: white;
  }

  #cost{
      padding-left: 10px;
      font-weight: 500;
      font-size: 55px;
  }
}
