#main{
    height: 100%;
	text-align: center;
	background: #56ab2f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#title > p{
    font-weight: 900;
	padding: 0.5em;
	padding-top: 1em;
	font-size: 6.6em;
	letter-spacing: 0.03em;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}

#grains, #dairy, #meat, #veggies_and_fruits, #other{
    margin-top: 50px;
 }

 #grains > p, #dairy > p, #meat > p, #veggies_and_fruits > p, #other > p{
     text-align: left;
     padding-left: 30px;
     font-size: 4em;
 }

 

#bot{
    height: 40px;
    width: 100%; 
    position: fixed;
    bottom: 0;
    left: 0;   
}

#undo{
    float: left;
    margin-left: 20%;
    transform: translateY(-70px);
    font-size: 40px;
    border: none;
    height: 100px;
    width: 140px;
}

#next{
    float: right;
    margin-right: 20%;
    transform: translateY(-70px);
    margin-top: 0px;
    font-size: 40px;
    border: none;
    height: 100px;
    width: 140px;
}   

.progress {
    margin: 20px 20px;
    width: 60%;
  display: inline-block;
}

.catName {
  display: inline-block;
}
