*{
	font-family: 'Catamaran', sans-serif;
  margin: 0;
}

body {
	display: inline-block;
	height: 100px;
}

#notMobile{
	position: relative;
	width:
	top: 0;
	padding: 3px;
	color: #f7ff00;
	background-color: #b20a2c;
}

#tipstitle{
	margin-top: 50px;
  font-size: 65px;
  color: rgb(87, 171, 47);
  transform: translateY(180px);
}

#dis{
  font-size: 30px;
  margin: 0;
}

#main{
	height: 100%;
	text-align: center;
	margin: 0;
  background-color: white;
}

#info{
  background-color: #eeeeee;
  margin-top: 150px;
  padding: 30px;
}

#title{
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0px;
	width: 100%;
  color: white;
  text-align: center;
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title p {
	display: inline-block;
  color: white;
  font-weight: 900;
	padding: 30px;
	font-size: 70px;
	letter-spacing: 3px;
	text-shadow: 2px 2px 4px #000000;
}

#lastPageBtn img{
	margin: 35px;
	margin-left: 50px;
	width: 70px;
	opacity: 0.9;
}

#nextPageBtn img{
	margin: 35px;
	margin-right: 50px;
	width: 70px;
	opacity: 0;
}

#content{
	width: 74%;
	margin-left: auto;
	margin-right: auto;
  color: black;
  transform: translateY(200px);
  font-size: 24px;
	font-weight: 200;
	padding-bottom: 30px;
}

#content p{
	font-size: 24px;
	font-weight: 200;
}

#content b{
	font-size: 24px;
	font-weight: 200;
}

iframe{
  transform: translateX(215px) translateY(220px);
}

#process{
	margin-top: 40px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}

#info p{
	text-align: center;
  font-weight: 400;
  font-size: 35px;
}

.userInfo{
  font-weight: 200;
  padding-left: 10px;
  padding-right: 10px;
}

#bot{
  background-color: rgb(15, 161, 15);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  padding-bottom: 35px;
}

#bot p{
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  color: white;
}

#cost{
  padding-left: 10px;
  font-weight: 500;
  font-size: 55px;
}

footer{
	padding-top: 20px;
	display: flex;
	transform: translateY(240px);
	justify-content:center;
	align-items: center;
}

#metroImg, #ueImg, #bcitImg, #questionmark{
	display: inline-block;
  height: 210px;
	padding-bottom: 150px;
}

#bcitImg{
	height: 165px;
	margin-bottom: 35px;
	margin-left: 50px;
}

#ueImg{
  height: 200px;
	margin-left: 50px;
}

#questionmark {
	height: 200px;
}

.bLayer{
  position:relative;
  z-index:-1;
  margin-left: 40px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {

	#notMobile{
		display: none;
	}
	
}
