#leaderboard p{
    margin-left: 250px;
    font-size: 4em;
    text-align: center;
    margin-top: 100px; 
    display: inline-block;
    color: white;
    font-weight: 900;
    padding: 30px;
    /* font-size: 80px; */
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px #000000;
}

table{
    font-size: 50px;
    padding-left: 110px;
    padding-top: 30px;
}

#score{
    height: 800px;
    width: 600px;
    background-color: white;
    margin-left: 190px;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888;
}

#form{
    margin-top: 180px;
}

#form p{
    font-size: 3em;
    margin-left: 220px;
    margin-bottom: 0;
}

#form input{
    margin-left: 200px; 
    height: 30px;
}

#start{
    height: 100px;
    width: 150px;
    margin-left: 40px;
    font-size: 40px;
    border-radius: 50px;
    background-color: coral;
    border: 2px solid black;
    color: white;
}

/* #exit{
    margin-top: 140px;
} */

#exitgame{
    height: 100px;
    width: 150px;
    margin-left: 40px; 
    font-size: 40px;
    border-radius: 50px;
    background-color: coral;
    border: 2px solid black;
    color: white;
}

#main{
	background: #56ab2f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

#playername{
    font-size: 30px;
    width: 200px;
}

