.labelRowWithProg{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress {
  margin: 10px 10px;
  margin-top: 18px;
  height: 30px;
  width: 400px;
  display: inline-block;
  background-color: grey;
}

.catName {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 1px;
  margin: 0;
  font-size: 50px;
  font-weight: 200;
}

#bot{
    background-color: none;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0px;
    padding-bottom: 0px;
}

#bot p{
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    color: white;
}
.button{
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #dd1818;
  border-radius: 100%;
  border: 0px solid grey;
  font-size: 40px;
  font-weight: 300;
  right: 55px;
  box-shadow: 1px 1px 4px #000000;
}
.redoNextIcon{
  width: 50px;
}
#redo{
  bottom: 210px;
  padding-left: 5px;
}
#next{
  bottom: 90px;
}
